@import url("leaflet/dist/leaflet.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 1em;
	font-weight: 400;
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	@apply min-w-[320px] text-neutral-800 bg-neutral-50 dark:text-neutral-50 dark:bg-neutral-900;
}

.react-tabs {
	@apply contents;
}

.react-tabs__tab-list {
	@apply flex flex-wrap p-1 gap-y-2 border-b border-neutral-300;
}

.react-tabs__tab {
	@apply grow block text-center p-2 border-r last:border-r-0 border-neutral-300;
}

.react-tabs__tab--selected {
	@apply font-bold;
}

.react-tabs__tab-panel {
	@apply hidden;
}

.react-tabs__tab-panel--selected {
	@apply contents;
}

.anchor,
.react-tabs__tab {
	@apply text-blue-600 dark:text-blue-500 hover:underline focus:outline-none focus-visible:ring cursor-pointer active:text-blue-900 dark:active:text-blue-200 visited:text-purple-600 dark:visited:text-purple-500;
}

.button {
	@apply px-5 py-2.5 focus:outline-none focus:ring-4 rounded-lg text-white bg-blue-700 dark:bg-blue-600 hover:bg-blue-800 dark:hover:bg-blue-700 focus:ring-blue-500/50 dark:focus:ring-blue-400/50;
}

.message {
	@apply bg-white even:bg-neutral-100 dark:bg-neutral-900 dark:even:bg-neutral-800;
}

.marker ~ .message {
	@apply bg-neutral-100 even:bg-white dark:bg-neutral-800 dark:even:bg-neutral-900;
}
