@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 1em;
	font-weight: 400;
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	@apply min-w-[320px] text-neutral-900 bg-neutral-50 dark:text-neutral-50 dark:bg-neutral-900;
}

.anchor {
	@apply text-blue-600 dark:text-blue-500 hover:underline focus:outline-none focus-visible:ring cursor-pointer active:text-blue-900 dark:active:text-blue-200 visited:text-purple-600 dark:visited:text-purple-500;
}

.button {
	@apply px-5 py-2.5 focus:outline-none focus:ring-4 rounded-lg text-white bg-blue-700 dark:bg-blue-600 hover:bg-blue-800 dark:hover:bg-blue-700 focus:ring-blue-500/50 dark:focus:ring-blue-400/50;
}
